.dropdown{
	display: inline-block;
	margin: 10px 50px;
	width: 300px;
}
body {
	background-image: url("../Images/bg.jpg");
	/* background-repeat: no-repeat; */
	background-size: 100%;
	background-attachment: fixed;
	/* color: white; */
}

#wrapper{
	text-align: left;
}

#check {
	width: 100px;
	height: 45px;
	margin-left: 50px !important;
}

#user {
	height: 35px !important;
}

#users {
	text-align: left;
	margin: 10px 145px;
}

#checksHeader {
	text-align: left;
	margin-left: 150px;
	margin-top:30px;
}

#productImg {
	border-radius: 20px;
	width: 100px;
	height: 100px;
}
#Dateform {
	margin-top: 100px !important;
}
#ordersTable {
	width: 800px;
	height: 800px;
	text-align: center;
	margin: 20px auto;
}

.display-block {
    display: table-row;
}
.display-none {
    display: none;
}