.dropdown{
	display: inline;
	margin: 10px 50px;
	width: 300px;
}
#wrapper{
	text-align: left;
}
#check{
	width: 100px;
	height: 45px;
	margin-left:50px !important; 
}
#user{
	height: 35px !important;
}
#users{
	text-align: left;
	margin:10px 120px;
}	
#checksHeader{
	text-align: left;
	margin: 20px 120px;
}
#productImg{
	border-radius: 20px;
	width: 100px;
	height: 100px;
}
.display-block {
    display: run-in;
}
.display-none {
    display: none;
}
#ordersTable{
        	width: 800px;
        	height: 800px;
        	text-align: center;
        	margin:20px auto;
        }